/*
*
*	CSS / jQuery animated Ticker
*
*	author	Dinko Skopljak
*	web     https://futura-web.de
*	email	ds@futura-web.de
*
*	jQuery functions()
*
*   Use https://skalman.github.io/UglifyJS-online/ to minify this code
*
*/

.ticker{
    display: flex;
    padding-left: 100%;
    overflow: hidden;
}

.ticker_list{
    display: flex;
    list-style: none;
}

.ticker_item{
    padding-left: 1rem;
    white-space: nowrap;
}

.ticker_item:first-child{
    padding-left: 0;
}

.ticker_item::before{
    content: "+++";
    display: inline;
    padding-right: 1rem;
}

.ticker_item:last-child::after{
    content: "+++";
    display: inline;
    padding-left: 1rem;
}
